.Navbar{
    background-color: none;
    justify-content: space-between;
    display: flex;
    gap:2%;
    align-items: center;
    padding: 10px 20px;
}
.Navbar a{
    text-decoration: none;
    color: lightblue;
    padding-top: 1%;

    
}
a:last-of-type{
    padding-right: 1px;
}
.Navbar h1{

    padding-right: 10%;
    letter-spacing: 2px;
    color:rgba(185, 4, 4, 0.5);
}

body{
    background: linear-gradient(to left,black,black);
    
}
.Navbar a:focus{
    color:rgb(159, 28, 28);
}
.Navbar a h4:hover{
    color:rgb(159, 28, 28);
}
img{
   display: block;
   margin: 0 auto;
   
}