.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;

}
.card{
    background-color: rgba(223, 120, 42, 0.855);
    box-shadow: 4px 5px 4px #f9f6f6cf;
}
a{
    text-decoration: none;
}
img{
    padding: 10px;
}
h1{
    text-align: center;
    color: #f9f6f6cf;
}