a{
    text-decoration: none;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}
h1{
    text-align: center;
    color: blanchedalmond;
}
img{
    padding: 10px;
}
.card{
    background-color: black;
    border:1px solid white;
    border-radius: 3px;
    color:aliceblue
}